<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
	<add name="votingconnection"
	connectionString ="Data Source=DESKTOP-FKKJ5FS\SQLEXPRESS01;Initial Catalog=db_voting;Integrated Security=True" />
</connectionStrings>
</configuration>